doctype html
html(lang="en")
	head
		title Transfer students to US
		meta(name='fragment', content='!')
		
		script(data-main='./js/bootLaunch.js', type='text/javascript', src='./js/libs/require-min.js')
	body
		div#contentR

