<style>
{font-family: arial, sans-serif}
</style>
<table>

<% data.forEach(function(record){ %>
<% if (chosenID == record.id){ %>
<% record.thing.properties.forEach(function(property){ %>
  <tr>
    <th>Property: <%= property.name %> </th>
    <br />
    <% if (typeof property.last_value == 'string') {%>
      <th>Last Value: <%= property.last_value %> </th>
    <% } else { %>
      <th>Last Value: <%= JSON.stringify(property.last_value) %> </th>
    <%}%>
  </tr>
  <% }) %>
  <% } %>
  <% }) %>
</table>
<div class="container content-area">
      <div class="row">
        <div class="col-lg-6 PropertiesPanel" >
        </div>    

        <div class="col-lg-6 area2" >
          
        </div>    
        </div>
      </div>  


