
<link type="text/css" href="js/libs/bootstrap/css/bootstrap.css">

<link href="css/iot.css" rel="stylesheet" type="text/css">
<style>
{font-family: arial, sans-serif}
</style>
    <div class="container">
      <div class="col">
        
        <h2 class='p1'>Heart-beat sensor</h2>
        
        <table>
          
          <tr>
            
            <th class = "p1">Devices: 39 </th>
            <th><button class='displayStatPanel' id="medical-id">Statistics</button></th>
            
          </tr>
          
        
        
        </table>
      <div class="mycol"></div>

        <h2 class="p1">GPS</h2>
        <table>


        <% data.forEach(function(record){  %>
        <% if (record.type == "GPS") { %>
          <tr>
             <!--th>Device Id: <%= record.user_id %> </th-->
            <th class = "p1">Device Name: <%= record.name %> </th>
            <th class = "p1"><button class='displayGPSPanel' id="<%= record.user_id %>">Click</button></th>
          </tr>
          
        <% } %>
        <% }) %>
        </table>
        <div class="mycol"></div>

        <h2 class = "p1">Phones</h2>
        
        <table>
        <% data.forEach(function(record){  %>
        <% if (record.type == "phone") { %>
          <tr>
             <!--th>Device Id: <%= record.user_id %> </th-->
            <th class = "p1">Device Name: <%= record.name %> </th>
            <th class = "p1"><button class='displayGPSPanel' id="<%= record.user_id %>">Last-known Location</button></th>
        <th class = "p1"><button class='displayGPSPanelAll' id="<%= record.user_id %>">All Locations</button></th>
          </tr>
          
        <% } %>
        <% }) %>

        </table>
      <div class="mycol"></div>
    </div>

      <div class="col" >
        <div class="GPSPanel"></div>
      </div>    

        
</div>


